<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Platform Packages" value="https://repository.domain.com.au/nuget/platform/" />
    <add key="Domain" value="https://repository.domain.com.au/nuget/domain/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="DomainUsers" value="https://repository.domain.com.au/nuget/users/" />
    <add key="Nuget" value="https://www.nuget.org/api/v2/" />
    <add key="Identity* Dev Feed" value="https://www.myget.org/F/identity/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>